<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Student" >
    <id column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="stu_no" property="stuNo" jdbcType="CHAR" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_login" property="stuLogin" jdbcType="VARCHAR" />
    <result column="stu_passwd" property="stuPasswd" jdbcType="VARCHAR" />
    <result column="stu_phone" property="stuPhone" jdbcType="CHAR" />
    <result column="stu_limit" property="stuLimit" jdbcType="INTEGER" />
    <result column="stu_remain" property="stuRemain" jdbcType="INTEGER" />
    <result column="stu_note" property="stuNote" jdbcType="VARCHAR" />
    <result column="college_id" property="collegeId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="StuResultMap" type="com.example.demo.pojo.Student" >
    <id column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="stu_no" property="stuNo" jdbcType="CHAR" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_phone" property="stuPhone" jdbcType="CHAR" />
    <result column="stu_remain" property="stuRemain" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    stu_id, stu_no, stu_name, stu_login, stu_passwd, stu_phone, stu_limit, stu_remain, 
    stu_note, college_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where stu_id = #{stuId,jdbcType=INTEGER}
  </select>
  <select id="listStudent" resultMap="StuResultMap" >
    select 
    stu_id,stu_no,stu_name,stu_phone,stu_remain
    from student
    order by stu_id desc
  </select>
  <select id="findStudentsByStuName" resultMap="StuResultMap" parameterType="String">
    select 
    stu_id,stu_no,stu_name,stu_phone,stu_remain
    from student
    where stu_name like #{stuName,jdbcType=VARCHAR}
  </select>
  <select id="queryMaxStuNoByMonth" resultType="String" parameterType="String">
  	select max(stu_no)
  	from student
  	where stu_no like #{prefix }
  </select>
  <select id="queryOneByStuLogin" resultMap="BaseResultMap" parameterType="String">
  	select 
    <include refid="Base_Column_List" />
    from student
    where stu_login = #{stuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where stu_id = #{stuLogin,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Student" >
    insert into student (stu_id, stu_no, stu_name, 
      stu_login, stu_passwd, stu_phone, 
      stu_limit, stu_remain, stu_note, 
      college_id)
    values (#{stuId,jdbcType=INTEGER}, #{stuNo,jdbcType=CHAR}, #{stuName,jdbcType=VARCHAR}, 
      #{stuLogin,jdbcType=VARCHAR}, #{stuPasswd,jdbcType=VARCHAR}, #{stuPhone,jdbcType=CHAR}, 
      #{stuLimit,jdbcType=INTEGER}, #{stuRemain,jdbcType=INTEGER}, #{stuNote,jdbcType=VARCHAR}, 
      #{collegeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="stuNo != null" >
        stu_no,
      </if>
      <if test="stuName != null" >
        stu_name,
      </if>
      <if test="stuLogin != null" >
        stu_login,
      </if>
      <if test="stuPasswd != null" >
        stu_passwd,
      </if>
      <if test="stuPhone != null" >
        stu_phone,
      </if>
      <if test="stuLimit != null" >
        stu_limit,
      </if>
      <if test="stuRemain != null" >
        stu_remain,
      </if>
      <if test="stuNote != null" >
        stu_note,
      </if>
      <if test="collegeId != null" >
        college_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stuId != null" >
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="stuNo != null" >
        #{stuNo,jdbcType=CHAR},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuLogin != null" >
        #{stuLogin,jdbcType=VARCHAR},
      </if>
      <if test="stuPasswd != null" >
        #{stuPasswd,jdbcType=VARCHAR},
      </if>
      <if test="stuPhone != null" >
        #{stuPhone,jdbcType=CHAR},
      </if>
      <if test="stuLimit != null" >
        #{stuLimit,jdbcType=INTEGER},
      </if>
      <if test="stuRemain != null" >
        #{stuRemain,jdbcType=INTEGER},
      </if>
      <if test="stuNote != null" >
        #{stuNote,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null" >
        #{collegeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Student" >
    update student
    <set >
      <if test="stuNo != null" >
        stu_no = #{stuNo,jdbcType=CHAR},
      </if>
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuLogin != null" >
        stu_login = #{stuLogin,jdbcType=VARCHAR},
      </if>
      <if test="stuPasswd != null" >
        stu_passwd = #{stuPasswd,jdbcType=VARCHAR},
      </if>
      <if test="stuPhone != null" >
        stu_phone = #{stuPhone,jdbcType=CHAR},
      </if>
      <if test="stuLimit != null" >
        stu_limit = #{stuLimit,jdbcType=INTEGER},
      </if>
      <if test="stuRemain != null" >
        stu_remain = #{stuRemain,jdbcType=INTEGER},
      </if>
      <if test="stuNote != null" >
        stu_note = #{stuNote,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null" >
        college_id = #{collegeId,jdbcType=INTEGER},
      </if>
    </set>
    where stu_id = #{stuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Student" >
    update student
    set stu_no = #{stuNo,jdbcType=CHAR},
      stu_name = #{stuName,jdbcType=VARCHAR},
      stu_login = #{stuLogin,jdbcType=VARCHAR},
      stu_passwd = #{stuPasswd,jdbcType=VARCHAR},
      stu_phone = #{stuPhone,jdbcType=CHAR},
      stu_limit = #{stuLimit,jdbcType=INTEGER},
      stu_remain = #{stuRemain,jdbcType=INTEGER},
      stu_note = #{stuNote,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=INTEGER}
    where stu_id = #{stuId,jdbcType=INTEGER}
  </update>
</mapper>